<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>주소: 평택시 안중읍 안현로서 1길 39 | TEL: 031-658-7566 | FAX: 031-658-7577
    </p>
    <p>copyrightⓒ2024 평택여객㈜ all rights reserved.</p>
</footer>

<style>
    /* 기본 레이아웃 설정 */
    html, body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    main {
        flex: 1; /* 메인 콘텐츠가 남은 공간을 채우도록 설정 */
    }

    .footer {
        flex-shrink: 0; /* 푸터가 줄어들지 않도록 설정 */
    }
</style>